# Keil/MDK build outputs
mcu/keil/Objects
mcu/ui_test_config.h

# General build artifacts
**/*.o
**/*.obj
**/*.elf
**/*.axf
**/*.bin
**/*.hex
**/*.map
**/*.d
**/*.lst
**/*.log

# OS artifacts
.DS_Store
Thumbs.db

# Quartus Files
fpga/db
fpga/incremental_db
fpga/output_files
fpga/simulation
